@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Graph 2 Data</h1>
    <p class="lead">Welcome to the Graph2Data evaluation.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aims</h2>
        <p>
            The extraction of data from graphs for use in systematic reviews can be a time-consuming and error-prone activity. We have developed this web app to help make the process more efficient and accurate.
        </p>
        <p><a class="btn btn-default" href="http://eppi.ioe.ac.uk">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>In order to find out more about how to use the application, please click here.</p>
        <p><a class="btn btn-default" href="http://eppi.ioe.ac.uk">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About reviewing</h2>
        <p>If you want to know more about systematic reviews....</p>
        <p><a class="btn btn-default" href="http://eppi.ioe.ac.uk">Learn more &raquo;</a></p>
    </div>
</div>