@{
    ViewBag.Title = "Home Page";
   
    
}
@section scripts {
    <script>
        var userList = [
            'T25YH', 'J8P7T', 'BEQ56', 'NK5DL', 'RR46L', 'PL893', 'CN9JK', 'LW2K6', 'NCBB6', 'LSHH7', 'LN9EJ', 'KN5LS',
            'DKENR', 'KCL3K', '7KK5J', 'D8SLW', 'W2ISN', 'BHKEL', '22MK', 'LP35L', '2HU6B', 'C9EMS', 'JE845', '66JFN',
            'N4JWM', 'K4LWM', 'AKK4N', 'N3IFM', '45JFU', 'U5HFY', 'YETDJ', 'EKSII', 'RKGNV', 'MFJRU', '47EI3', '888C7',
            '4JFNH', 'F6VH3', '636DG', 'FHNFJ', 'RU466', 'FHFNR', 'JUJE6', 'HFJ4M', 'DJVSU', 'WH3H3', '7F764', 'H4HRH',
            'V77R4', 'JEJJD', 'HF74H', 'HHF74', 'HEJDJ', 'VN4HR', '4HRJF', 'HF777', '4HRNF', 'JFU4H', 'ER56S', 'LKENW'
        ];

        $(document).ready(function() {

            $('#userCode').on('change input propertychange',
                function() {
                    var value = $(this).val().toUpperCase();
                    if ($.inArray(value, userList) !== -1) {
                        $('#submitButton').removeClass('disabled');
                        var pdfUrl = '@Url.Action("PdfSandbox")'; // + '?u=' + value;
                        $('#submitButton').attr('href', pdfUrl);
                        document.cookie = "graph2datauser=" + value + ';';
                    } else {
                        $('#submitButton').addClass('disabled');
                        $('#submitButton').attr('href', '#');
                        document.cookie = "graph2datauser=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    }
                });
        });
    </script>
}
<div class="jumbotron">
    <h1>Graph 2 Data</h1>
    <p class="lead">Welcome to the Graph2Data evaluation.</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <p>Enter your code here</p>
        <label for="userCode">Code:</label>
        <input type="text" id="userCode" placeholder="5 digit code" style="width:100px"/>
        <a class="btn btn-default disabled" id="submitButton" href="#">Submit</a>
    </div>
</div>
<div class="row">
    
    <div class="col-md-4">
        <h2>Aims</h2>
        <p>
            The extraction of data from graphs for use in systematic review and meta-analysis  is a necessary, but time consuming and error-prone step in the review process. This web app has been developed to approach this task from a novel direction to aid this process.
        </p>
        <p><a class="btn btn-default" href="http://
              .ioe.ac.uk">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>
            Thank you for agreeing to participate in the evaluation of this new web app to aid data extraction. The outline of this arm of the trial is that you will be shown a document with 31 graphs on and you have to extract the data from the graphs. The graphs are a variety of types and have a range of number of data points.
            <br />
            To assist you in using the application, we have developed a short YouTube tutorial. To access the tutorial click the link below :
            <br />
            For all information you were given prior to consenting to participating in the evaluation of our tool click here :
            <br />
            If you have any questions, please contact Fala Cramond (f.cramond@imperial.ac.uk) or Alison O'Mara-Eves (a.omara-eves@ucl.ac.uk) 
        </p>
        <p><a class="btn btn-default" href="http://eppi.ioe.ac.uk">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>About reviewing</h2>
        <p>Systematic Reviews are a research technique which involves the synthesis of all available data on a specific topic, so the field can be analysed as a whole. These can be performed in any discipline including clinical, preclinical and social science. Extracting data from publications is an essential part of this process.
            <br />For further details on systematic reviews and for platforms that can assist you in other stages of a review, click here:
</p>
        <p><a class="btn btn-default" href="http://eppi.ioe.ac.uk">Learn more &raquo;</a>
        </p>
    </div>
</div>