.rectangle {
    border: 3px dashed #FF0000;
    background-color: #fdd;
    background-color: rgba(255,0,0,0.2);
    position: absolute;
}

.rectangle > .id {
    margin: 3px 0 0 3px;
    padding: 1px 5px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    font-family: "Lucida Console";
    display: inline-block;
    background-color: red;
    border: 1px solid black;
}

.rectangle > .data {
    display: none;
}
.rectangle.has-data > .data {
    margin: 3px 0 0 3px;
    padding: 1px 5px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    font-family: "Lucida Console";
    display: inline-block;
    background-color: blue;
    border: 1px solid black;
}



.rectangle > .id.hidden {
    display: none;
}

.rectangle.hovered {
    background-color: #f88;
    background-color: rgba(255, 0, 0, 0.4);
}

.rectangle.focused {
    background-color: #f88;
    background-color: rgba(255, 0, 0, 0.4);
    border-color: black;
}

.rectangle.focused > .id {
    color: white;
    font-weight: bold;
}

.info {
    position: fixed;
    left: 0;
    top: 50px;
    padding: 0.5em;
    /*background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);*/
    color: #ffffff;
    z-index: 1;
    font-size: 14px;
}

.info > .header {
    text-align: center;
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.canvas-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 100%;
    /*border: 5px solid red;*/
    border-width: 0;
    cursor: crosshair;

    /* debugging: display: none */
}


body.annotations-disabled .canvas-overlay {
    display: none;
}

.canvas-overlay * {
    z-index: 5;
}

.canvas-overlay > .rectangle {
    cursor: move;
}

.canvas-overlay > .rectangle > .id {
    cursor: pointer;
}

.grip-helper {
    background-color: orange;
    border: 2px solid indigo;
}

.grip-helper {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
.nwgrip {
    left: -5px;
    top: -5px;
}
.negrip{
    top: -5px;
    right: -5px;
}
.swgrip{
    bottom: -5px;
    left: -5px;
}
.segrip{
    bottom: -5px;
    right:-5px;
}
.ngrip{
    top: -5px;
    left:50%;
}
.sgrip{
    bottom: -5px;
    left: 50%;
}
.wgrip{
    left:-5px;
    top:50%;
}
.egrip{
    right:-5px;
    top:50%;
}




.info > .header, .info > .content > table td {
    border: 1px solid #888;
}
.info > .content > table {
    margin-top: -1px;
}
.info > .content > table td {
    border-collapse: collapse;
}

.info > .header > .caption {

}

.info > .header > .imgBefore {
    content: url(images/toolbarButton-secondaryToolbarToggle-rtl.png);
    margin-right: 0.5em;
    vertical-align: middle;
}
body.annotations-disabled .info > .header > .imgBefore {
    content: "";
}
.info > .header > .imgAfter {
    content: "";
}
body.annotations-disabled .info > .header > .imgAfter {
    content: url(images/toolbarButton-secondaryToolbarToggle.png);
    margin-left: 0.5em;
    vertical-align: middle;
}


body.annotations-disabled .info > .header {
}
body.annotations-disabled .info > .content {
    display: none;
}
